# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

MRAM_SMS_API_KEY=
MRAM_SMS_SENDER_ID=
MRAM_SMS_TYPE=text
MRAM_SMS_LABEL=transactional
MRAM_ADMIN_PHONE=
MRAM_SMS_ENABLED=true
MRAM_SMS_BASE_URL=https://msg.mram.com.bd/smsapi
MRAM_SMS_CUSTOMER_ENABLED=true
MRAM_SMS_ADMIN_ENABLED=true
MRAM_SMS_CUSTOMER_ID=
MRAM_SMS_ADMIN_ID=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Analytics
NEXT_PUBLIC_GTM_ID=GTM-MSQFBJCC
NEXT_PUBLIC_META_PIXEL_ID=

# App URL
NEXT_PUBLIC_APP_URL="https://signaturelivingstudio.com"
