NEXT_PUBLIC_PHONE="+8801700000000"
NEXT_PUBLIC_WHATSAPP="+8801700000000"
NEXT_PUBLIC_EMAIL="info@signaturelivingstudio.com"
NEXT_PUBLIC_FACEBOOK_URL="https://facebook.com/signaturelivingstudio"
NEXT_PUBLIC_INSTAGRAM_URL="https://instagram.com/signaturelivingstudio"
